.work {
  @include media-breakpoint-up(md) {
    padding-top: 5rem;
  }

  &--item {
    font-size: 0.75rem;
    margin-bottom: 5rem;

    @include media-breakpoint-up(md) {
      text-align: center;
    }

    > a {
      display: flex;
      height: 5rem;
      margin-bottom: 1rem;
      padding-right: 2rem;

      @include media-breakpoint-up(md) {
        align-items: center;
        justify-content: center;
        padding-left: 2rem;

        > img {
          filter: grayscale(100%);
        }

        &:hover > img {
          filter: none;
        }
      }
    }
  }
}
